<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- website description -->
    <meta name="description" content="Good shopping website">
    <!-- keyword -->
    <meta name="keywords" content="Shopping">
    <title>Shopping -Best Shopping Website-</title>
    <!-- putting icon -->
    <!-- <link rel="shortcut icon" href="./images/icon.ico"> -->
    <!-- <link rel="stylesheet" href="./css/base.css"> -->
    <!-- <link rel="stylesheet" href="./css/common.css"> -->
    <!-- <link rel="stylesheet" href="./css/index.css"> -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <script src="https://kit.fontawesome.com/1d299bbc93.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    <script src="{{ url_for('static',filename='js/search.js') }}"></script>

</head>
<body>
    <div class="slider_bar">
        <div class="chat"><i class="far fa-comment-dots"></i></div>
        <div class="back"><i class="fas fa-arrow-up"></i></div>
    </div>
    <section class="shortcut">
        <div class="w">
            <div class="fl">
                <ul>
                    <li>Welcome!&nbsp; &nbsp;</li>

                    <li>

                        <!-- <a href="./login.html">Sign In</a> /
                        <a href="./register.html" class="style_red">Sign Up</a> -->

                        <a href="./login">Sign In</a> /
                        <!-- <a href="/register" class="style_red">Sign Up</a> -->
                        <form method = "get" action = "/register" style="display: inline;">
                            <input type = "submit" name = "Sign up" class="button2" value = "Sign up" title = "Register">
                        </form>

                    </li>
                </ul>
            </div>


            <div class="fr">
                <ul>
                    <li><a href="javascript:;">My Order</a></li>
                    <li></li>
                    <li><a href="javascript:;">My Car</a></li>
                    <li></li>
                    <li><a href="javascript:;">VIP</a></li>
                    <li></li>
                    <li><a href="javascript:;">About Us</a></li>
                    <li></li>
                    <li><a href="javascript:;">Navigation <i class="arrow-icon"></i></a>
                        <ul class="drop_down">
                            <li><a href="/login">Sign In</a> </li>
                            <li><a href="/register">Sign Up</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>
    </section>

    <header class="header w">
        <div class="logo">
            <h1><a href="{{ url_for('redirect_home') }}" title="Shopping">Shopping</a></h1>
        </div>
        <form id="subFrom"
                class="searchForm"
                action="getProduct"
                method="post"
                enctype="multipart/form-data">
            <div class="search">
                <input type="search" placeholder="Search">
                <button  class="submitbtn" type="button" value="Sumbit"><i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        
        <div class="hotWords ">
            <a href="javascript:;">iPhone12</a>
            <a href="javascript:;">iPhone12Pro</a>
            <a href="javascript:;">MacBook</a>
            <a href="javascript:;">Airpod</a>
            <a href="javascript:;">iPad</a>
            <a href="javascript:;">iphone12Case</a>
            <a href="javascript:;">iPhone12ProCase</a>
        </div>

        <div class="shopCar">
            <i class="fas fa-shopping-cart style_bule"></i>  
                My Shopping Cart
            <i class="count">9</i>
        </div>
    </header>

    <nav class="nav">
        <div class="w">
            <div class="dropdown">
                <div class="dt">
                    All Categories
                </div>
                <div class="dd">
                    <ul>

                        <li><a href="/list/cellphone">Cell phone</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="/list/cellphone">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                            
                        </li>
                        <li><a href="javascript:;">TV & Home Theater</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                            
                        </li>
                        <li><a href="javascript:;">Computer & Table</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Audio</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Video Game</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Application</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Movies & Music</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Car Electronics & GPS</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Wearable Technology</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Health & Personal Care</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Fitness</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Home Office</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Smart Home</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Toys</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:;">Sustainable Living</a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./list.html">Apple</a></li>
                                    <li><a href="javascript:;">Samsung</a></li>
                                    <li><a href="javascript:;">HuaWei</a></li>
                                </ul>
                            </div>
                        </li>



                    </ul>
                </div>
            </div>
            <div class="navitems">
                <ul>
                    <li><a href="javascript:;">Brands</a></li>
                    <li><a href="javascript:;">Deals</a></li>
                    <li><a href="javascript:;">Services</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="w">
        <div class="main">
            <div class="focus">

                <a href="javascript:;" class="arrow-l"><i class="fas fa-angle-left"></i></a>
                <a href="javascript:;" class="arrow-r"><i class="fas fa-angle-right"></i></a>
                <ul>
                    <li>
                       <a href="javascript:;"><img src="{{ url_for('static',filename='upload/1.png') }}" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="{{ url_for('static',filename='upload/2.png') }}" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="{{ url_for('static',filename='upload/3.png') }}" alt=""></a>
                    </li>

                </ul>
                <ol class="circle">
                   
                </ol>
            </div>
            <div class="newflash">
                <div class="news">
                    <div class="news-hd">
                        <h5>NEWS</h5>
                        <a href="javascript:;">more></a>
                    </div>
                    <div class="news-bd">
                        <ul>
                            <li><a href="javascript:;"><strong>[Good New]</strong> iPhone 12 $100 off</a></li>
                            <li><a href="javascript:;"><strong>[Good New]</strong> iPhone 11 $100 off</a></li>
                            <li><a href="javascript:;"><strong>[Good New]</strong> iPhone 10 $100 off</a></li>
                            <li><a href="javascript:;"><strong>[Good New]</strong> iPhone 8 $100 off</a></li>
                            <li><a href="javascript:;"><strong>[Good New]</strong> iPhone 7 $100 off</a></li>
                        </ul>
                    </div>
                </div>
                <div class="leftservice">
                    <table border="1" >
                        <tr>
                            <td>
                                <i></i>
                                <p>gg</p>
                            </td>
                            <td><i></i></td>
                            <td><i></i></td>
                            <td><i></i></td>
                        </tr>
                        <tr>
                            <td><i></i><p>gg</p></td>
                            <td><i></i></td>
                            <td><i></i></td>
                            <td><i></i></td>
                        </tr>
                        <tr>
                            <td><i></i><p>gg</p></td>
                            <td><i></i></td>
                            <td><i></i></td>
                            <td><i></i></td>
                        </tr>
                        <tr>
                            <td><i></i><p>gg</p></td>
                            <td><i></i></td>
                            <td><i></i></td>
                            <td><i></i></td>
                        </tr>
                    </table>
                </div>
                <div class="bargain">
                    <a href="javascript:;"><img src="{{ url_for('static',filename='upload/discount.png') }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>


    <div class="w recom">
        <div class="recom_hd">
            <i class="far fa-clock"></i>
        </div>
        
        <div class="recom_bd">
           <ul>
               <li>
                <img src="{{ url_for('static',filename='upload/sample.png') }}" alt="">
               </li>
               <li>
                 <img src="{{ url_for('static',filename='upload/sample.png') }}" alt="">
               </li>
               <li>
                 <img src="{{ url_for('static',filename='upload/sample.png') }}" alt="">
               </li>
           </ul>
        </div>

        <div class="recom_end">
            <i class="fas fa-ad"></i>
        </div>
    </div>


    <div class="floor">
        <div class="w appliances">
            <div class="appliances_hd">
             <h3>Home Appliances</h3>
             <ul>
                <li><a href="javascript:;">Best Sale</a></li>
                <li><a href="javascript:;">Fastest Increase</a></li>
                <li><a href="javascript:;">Lowest Price</a></li>
            </ul>
            </div>
            <div class="appliances_bd">
                <div class="tab_content">
                    <div class="tab_list_item">
                        <div class="col_210">
                            <ul>
                                <li><a href="javascript:;">Type1</a></li>
                                <li><a href="javascript:;">Type2</a></li>
                                <li><a href="javascript:;">Type3</a></li>
                                <li><a href="javascript:;">Type4</a></li>
                                <li><a href="javascript:;">Type5</a></li>
                                <li><a href="javascript:;">Type6</a></li>
                            </ul>
                            <div>
                                <img src="{{ url_for('static',filename='upload/sample2.png') }}" alt="">
                            </div>
                        </div>
                        <div class="col_329">
                            <img src="{{ url_for('static',filename='upload/sample3.png') }}" alt="">
                        </div>
                        <div class="col_221"><img src="{{ url_for('static',filename='upload/sample4.png') }}" alt=""></div>
                        <div class="col_221"><img src="{{ url_for('static',filename='upload/sample4.png') }}" alt=""></div>
                        <div class="col_219"><img src="{{ url_for('static',filename='upload/sample5.png') }}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="w">
            <div class="mod_service">
                <ul>
                    <li><i class="fas fa-thumbs-up"></i>
                         <div>
                             <h3>Quality assurance</h3>
                             <p>Good product quality</p>
                         </div>
                    </li>
                    <li><i class="fas fa-shipping-fast"></i>
                        <div>
                            <h3>Fast delivery</h3>
                            <p>Fast delivery, fast arrival</p>
                        </div>
                    </li>
                    <li><i class="fas fa-money-check"></i>
                        <div>
                            <h3>Return guarantee</h3>
                            <p>Return unconditionally within 14 days</p>
                        </div>
                    </li>
                    
                    <li><i class="fas fa-star"></i>
                        <div>
                            <h3>VIP service</h3>
                            <p>VIP has more privileges</p>
                        </div>
                        
                    </li>
                </ul>
            </div>
            <div class="mod_help">
                <dl>
                    <dt>Get Support ›</dt>
                    <dd><a href="javascript:;">Visit our Support Center</a></dd>
                    <dd><a href="javascript:;">Schedule or Manage Your Service</a></dd>
                    <dd><a href="javascript:;">Shop with an Expert</a></dd>
                    <dd><a href="javascript:;">Protection & Support Plans</a></dd>
                    <dd><a href="javascript:;">Trade-In Program</a> </dd>
                    <dd><a href="javascript:;">Product Recalls</a></dd>
                </dl>

                <dl>
                    <dt>Partnerships ›</dt>
                    <dd><a href="javascript:;">Affiliate Program</a></dd>
                    <dd><a href="javascript:;">Developers</a></dd>
                    <dd><a href="javascript:;">Advertise with Us</a></dd>
                </dl>


                <dl>
                    <dt>Orders & Returns ›</dt>
                    <dd><a href="javascript:;">Order Status</a></dd>
                    <dd><a href="javascript:;">Shipping, Delivery & Store Pickup</a></dd>
                    <dd><a href="javascript:;">Return & Exchange Promise</a></dd>
                    <dd><a href="javascript:;">Price Match Guarantee</a></dd>
                </dl>

            

                <dl>
                    <dt>My Shopping ›</dt>
                    <dd><a href="javascript:;">View Points & Certificates</a></dd>
                    <dd><a href="javascript:;">Member Offers</a></dd>
                    <dd><a href="javascript:;">Sign in or Create Account</a></dd>
                </dl>
            </div>
        </div>

        <div class="mod_copyRight">
            <div class="w">
                <div class="links">
                    <a href="javascript:;">Corporate Information</a>|
                    <a href="javascript:;">Forums, Blog & More</a>|
                    <a href="javascript:;">Careers</a>|
                    <a href="javascript:;">Accessibility</a>|
                    <a href="javascript:;">Terms & Conditions</a>|
                    <a href="javascript:;">Privacy</a>|
                    <a href="javascript:;">Interest-Based Adss</a>|
                    <a href="javascript:;">California Privacy Rights</a>|
                    <a href="javascript:;">Do Not Sell My Personal Information</a>|
                    <a href="javascript:;">California Supply Chain Transparency Act</a>
                </div>
            </div>
           <div class="copyRight">
               The best Shopping ©
           </div>
        </div>
    </footer>

    
</body>

</html>