<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Shopping">
    <title>Login</title>
    <!-- putting icon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">

    <script src="https://kit.fontawesome.com/1d299bbc93.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="w header">
        <div class="logo">
            <h1><a href="/" title="Shopping">Shopping</a></h1>
        </div>
    </header>
    <div class="w login">
        <h3>
            <span class="title-left">Login</span>
            
        </h3>
        <div class="login_form">
            <form
                class="loginForm"
                action="/login"
                method="post"
            >
                <ul>
                    <li>
                        <label>User name:</label>
                        <input type="text" class="userName" name="userName" title = "user name" minlength="3" maxlength="10" required>
                        <span class="error"><i class="fas fa-times-circle"></i> User name invalid</span>
                    </li>
                   
                    <li>
                        <label>Pass word:</label>
                        <input type="password" name="passWord" minlength="3" maxlength="10" required>
                        <span class="error"><i class="fas fa-times-circle"></i> Pass word invalid</span>
                    </li>

                    

                    <li class="submit">
                        <input type="submit" value="Sumbit">
                    </li>
                </ul>
            </form>

        </div>
    </div>
    <footer class="footer">
        <div class="w">
            <div class="mod_service">
                <ul>
                    <li><i class="fas fa-thumbs-up"></i>
                        <div>
                            <h3>Quality assurance</h3>
                            <p>Good product quality</p>
                        </div>
                    </li>
                    <li><i class="fas fa-shipping-fast"></i>
                        <div>
                            <h3>Fast delivery</h3>
                            <p>Fast delivery, fast arrival</p>
                        </div>
                    </li>
                    <li><i class="fas fa-money-check"></i>
                        <div>
                            <h3>Return guarantee</h3>
                            <p>Return unconditionally within 14 days</p>
                        </div>
                    </li>

                    <li><i class="fas fa-star"></i>
                        <div>
                            <h3>VIP service</h3>
                            <p>VIP has more privileges</p>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="mod_help">
                <dl>
                    <dt>Get Support ›</dt>
                    <dd><a href="javascript:;">Visit our Support Center</a></dd>
                    <dd><a href="javascript:;">Schedule or Manage Your Service</a></dd>
                    <dd><a href="javascript:;">Shop with an Expert</a></dd>
                    <dd><a href="javascript:;">Protection & Support Plans</a></dd>
                    <dd><a href="javascript:;">Trade-In Program</a> </dd>
                    <dd><a href="javascript:;">Product Recalls</a></dd>
                </dl>

                <dl>
                    <dt>Partnerships ›</dt>
                    <dd><a href="javascript:;">Affiliate Program</a></dd>
                    <dd><a href="javascript:;">Developers</a></dd>
                    <dd><a href="javascript:;">Advertise with Us</a></dd>
                </dl>


                <dl>
                    <dt>Orders & Returns ›</dt>
                    <dd><a href="javascript:;">Order Status</a></dd>
                    <dd><a href="javascript:;">Shipping, Delivery & Store Pickup</a></dd>
                    <dd><a href="javascript:;">Return & Exchange Promise</a></dd>
                    <dd><a href="javascript:;">Price Match Guarantee</a></dd>
                </dl>



                <dl>
                    <dt>My Shopping ›</dt>
                    <dd><a href="javascript:;">View Points & Certificates</a></dd>
                    <dd><a href="javascript:;">Member Offers</a></dd>
                    <dd><a href="javascript:;">Sign in or Create Account</a></dd>
                </dl>
            </div>
        </div>

        <div class="mod_copyRight">
            <div class="w">
                <div class="links">
                    <a href="javascript:;">Corporate Information</a>|
                    <a href="javascript:;">Forums, Blog & More</a>|
                    <a href="javascript:;">Careers</a>|
                    <a href="javascript:;">Accessibility</a>|
                    <a href="javascript:;">Terms & Conditions</a>|
                    <a href="javascript:;">Privacy</a>|
                    <a href="javascript:;">Interest-Based Adss</a>|
                    <a href="javascript:;">California Privacy Rights</a>|
                    <a href="javascript:;">Do Not Sell My Personal Information</a>|
                    <a href="javascript:;">California Supply Chain Transparency Act</a>
                </div>
            </div>
            <div class="copyRight">
                The best Shopping ©
            </div>
        </div>
    </footer>

</body>

</html>