<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="shortcut icon" href="./images/icon.ico">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/shoppingCart.css') }}">
    <script src="https://kit.fontawesome.com/1d299bbc93.js" crossorigin="anonymous"></script>
    <!-- <script src="/static/js/cart.js"></script> -->
    <script src="{{ url_for('static',filename='js/cart.js') }}"></script>




    <link rel="shortcut icon" href="/static/images/icon.ico">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/common.css">
    
    <link rel="stylesheet" href="/static/css/shoppingCart.css">
    <script src="/static/js/cart.js"></script>
</head>
<body>
    <section class="shortcut">
        <div class="w">
            <div class="fl">
                <ul>
                    <li>Welcome!&nbsp; &nbsp;</li>
    
                    <li>
    
                        <!-- <a href="./login.html">Sign In</a> /
                            <a href="./register.html" class="style_red">Sign Up</a> -->
    
                        <a href="./login">Sign In</a> /
                        <!-- <a href="/register" class="style_red">Sign Up</a> -->
                        <form method="get" action="/register" style="display: inline;">
                            <input type="submit" name="Sign up" class="button2" value="Sign up" title="Register">
                        </form>
    
                    </li>
                </ul>
            </div>
    
    
            <div class="fr">
                <ul>
                    <li><a href="javascript:;">My Order</a></li>
                    <li></li>
                    <li><a href="javascript:;">My Car</a></li>
                    <li></li>
                    <li><a href="javascript:;">VIP</a></li>
                    <li></li>
                    <li><a href="javascript:;">About Us</a></li>
                    <li></li>
                    <li><a href="javascript:;">Navigation <i class="arrow-icon"></i></a>
                        <ul class="drop_down">
                            <li><a href="/login">Sign In</a> </li>
                            <li><a href="/register">Sign Up</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
    
        </div>
    </section>
    
    <header class="header w">
        <div class="logo">
            <h1><a href="{{ url_for('redirect_home') }}" title="Shopping">Shopping</a></h1>
        </div>
        <div class="search">
            <input type="search" placeholder="Search">
            <button><i class="fas fa-search"></i>
            </button>
        </div>
        <div class="hotWords ">
            <a href="javascript:;">iPhone12</a>
            <a href="javascript:;">iPhone12Pro</a>
            <a href="javascript:;">MacBook</a>
            <a href="javascript:;">Airpod</a>
            <a href="javascript:;">iPad</a>
            <a href="javascript:;">iphone12Case</a>
            <a href="javascript:;">iPhone12ProCase</a>
        </div>
    
        <div class="shopCar">
            <i class="fas fa-shopping-cart style_bule"></i>
            My Shopping Cart
            <i class="count">9</i>
        </div>
    </header>
    
    <nav class="nav">
        <div class="w">
            <!-- <div class="dropdown">
                        <div class="dt">
                            All Categories
                        </div>
                        <div class="dd">
                            <ul>
                                <li><a href="javascript:;">Cell phone</a></li>
                                <li><a href="javascript:;">TV & Home Theater</a></li>
                                <li><a href="javascript:;">Computer & Table</a></li>
                                <li><a href="javascript:;">Audio</a></li>
                                <li><a href="javascript:;">Video Game</a></li>
                                <li><a href="javascript:;">Application</a></li>
                                <li><a href="javascript:;">Movies & Music</a></li>
                                <li><a href="javascript:;">Car Electronics & GPS</a></li>
                                <li><a href="javascript:;">Wearable Technology</a></li>
                                <li><a href="javascript:;">Health & Personal Care</a></li>
                                <li><a href="javascript:;">Fitness</a></li>
                                <li><a href="javascript:;">Home Office</a></li>
                                <li><a href="javascript:;">Smart Home</a></li>
                                <li><a href="javascript:;">Toys</a></li>
                                <li><a href="javascript:;">Sustainable Living</a></li>
            
                            </ul>
                        </div>
                    </div> -->
            <div class="navitems">
                <ul>
                    <li><a href="javascript:;">Brands</a></li>
                    <li><a href="javascript:;">Deals</a></li>
                    <li><a href="javascript:;">Services</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="shoppingCart w">
        <div class="head_row hid">
            <div class="check left"> <i onclick="checkAll()">√</i></div>
            <div class="img left"> all</div>
            <div class="name left">item</div>
            <div class="price left">price</div>
            <div class="number left">amount</div>
            <div class="subtotal left">item total price</div>
            <div class="ctrl left">delete</div>
        </div>
        <div id="list">
            <ul>

            </ul>
        </div>
        
        <div id="sum_area">
            <span id="pay_amout">total：<span id="price_num"></span></span>
            <span id="pay">check out</span>
        </div>
    </div>

    <footer class="footer">
        <div class="w">
            <div class="mod_service">
                <ul>
                    <li><i class="fas fa-thumbs-up"></i>
                        <div>
                            <h3>Quality assurance</h3>
                            <p>Good product quality</p>
                        </div>
                    </li>
                    <li><i class="fas fa-shipping-fast"></i>
                        <div>
                            <h3>Fast delivery</h3>
                            <p>Fast delivery, fast arrival</p>
                        </div>
                    </li>
                    <li><i class="fas fa-money-check"></i>
                        <div>
                            <h3>Return guarantee</h3>
                            <p>Return unconditionally within 14 days</p>
                        </div>
                    </li>
    
                    <li><i class="fas fa-star"></i>
                        <div>
                            <h3>VIP service</h3>
                            <p>VIP has more privileges</p>
                        </div>
    
                    </li>
                </ul>
            </div>
            <div class="mod_help">
                <dl>
                    <dt>Get Support ›</dt>
                    <dd><a href="javascript:;">Visit our Support Center</a></dd>
                    <dd><a href="javascript:;">Schedule or Manage Your Service</a></dd>
                    <dd><a href="javascript:;">Shop with an Expert</a></dd>
                    <dd><a href="javascript:;">Protection & Support Plans</a></dd>
                    <dd><a href="javascript:;">Trade-In Program</a> </dd>
                    <dd><a href="javascript:;">Product Recalls</a></dd>
                </dl>
    
                <dl>
                    <dt>Partnerships ›</dt>
                    <dd><a href="javascript:;">Affiliate Program</a></dd>
                    <dd><a href="javascript:;">Developers</a></dd>
                    <dd><a href="javascript:;">Advertise with Us</a></dd>
                </dl>
    
    
                <dl>
                    <dt>Orders & Returns ›</dt>
                    <dd><a href="javascript:;">Order Status</a></dd>
                    <dd><a href="javascript:;">Shipping, Delivery & Store Pickup</a></dd>
                    <dd><a href="javascript:;">Return & Exchange Promise</a></dd>
                    <dd><a href="javascript:;">Price Match Guarantee</a></dd>
                </dl>
    
    
    
                <dl>
                    <dt>My Shopping ›</dt>
                    <dd><a href="javascript:;">View Points & Certificates</a></dd>
                    <dd><a href="javascript:;">Member Offers</a></dd>
                    <dd><a href="javascript:;">Sign in or Create Account</a></dd>
                </dl>
            </div>
        </div>
    
        <div class="mod_copyRight">
            <div class="w">
                <div class="links">
                    <a href="javascript:;">Corporate Information</a>|
                    <a href="javascript:;">Forums, Blog & More</a>|
                    <a href="javascript:;">Careers</a>|
                    <a href="javascript:;">Accessibility</a>|
                    <a href="javascript:;">Terms & Conditions</a>|
                    <a href="javascript:;">Privacy</a>|
                    <a href="javascript:;">Interest-Based Adss</a>|
                    <a href="javascript:;">California Privacy Rights</a>|
                    <a href="javascript:;">Do Not Sell My Personal Information</a>|
                    <a href="javascript:;">California Supply Chain Transparency Act</a>
                </div>
            </div>
            <div class="copyRight">
                The best Shopping ©
            </div>
        </div>
    </footer>
    
</body>
</html>